@import '../../styles/main.scss';

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 124px;

  &__logo {
    width: 84px;
    height: 38px;
    background-image: url(../../images/icons/nord-logo.png);
    background-size: 84px 38px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &__content {
    display: flex;
    gap: 64px;
  }
  
  &__user-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../images/icons/user-icon.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}
