* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 56px;
  line-height: 64.4px;
  margin-bottom: 24px;
}

h2 {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

p {
  display: block;
  margin: 0;
}


